#
# {{ ansible_managed }}
#
auto lo
iface lo inet loopback

# The primary network interface
{% for key, value in networking.items() %}
  {% if key == "ip4" %}
    {% for ip4 in value %}

iface {{ ansible_default_ipv4.interface }} inet static
  address {{ ip4 }}
  netmask 255.255.255.0
    {% endfor %}

  {% elif key == "ip6" %}
    {% for ip6 in value %}

iface {{ ansible_default_ipv6.interface }} inet6 static
  address {{ ip6 }}
  netmask 64
    {% endfor %}
  {% endif %}
{% endfor %}
