#
# {{ ansible_managed }}
#
auto lo
iface lo inet loopback

{% set interface = {{ ansible_facts['default_ipv4']['interface'] | default("eth0") }} %}

# The primary network interface
auto {{ interface }}
{% for key, value in networking.items() %}
  {% if key == "ip4" %}
    {% for ip4 in value %}

iface {{ interface }} inet static
  address {{ ip4 }}
  netmask 255.255.255.0
  gateway {{ local.gateway }}
    {% endfor %}

  {% elif key == "ip6" %}
    {% for ip6 in value %}

iface {{ interface }} inet6 static
  address {{ ip6 }}
  netmask 64
    {% endfor %}
  {% endif %}
{% endfor %}
